<div class="row">
  <div class="col-md-12">
    <h2><%= @question.title %></h2>
    <div>
      Content: <%= @question.content %>
    </div>
    <div>
      Name: <%= @question.name %>
    </div>

    <hr>

    <h3>回答</h3>
    <%= form_with model: [@question, @answer], local: true do |f| %>
      <%= f.hidden_field :question_id, {value: @question.id} %>
      <div class="form-group">
        <label>回答者名</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>回答</label>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit "回答する", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= link_to "Home", root_path %>
  </div>
</div>
